body{background-color: rgb(192, 122, 30);margin: auto;width: 1000px;}
a{text-decoration: none;font-size: 50px;font-family:fantasy;padding: 6px;letter-spacing: 20px;}
nav{position: relative;left: 250px;bottom: 70px;}